@font-face {
    font-family: moon;
    src: url(./fonts/moon_flower/MF.ttf) format('truetype');
  }

@font-face {
    font-family: chunkie;
    src: url(./fonts/Exo2-Bold.otf) format('Opentype');
  }

#name_div {
  text-align: center;
  position: relative;
  float: center
}

#name {
  font-family: moon;
  color: white;
  font-size: 150px;
}

#title {
  font-family: chunkie;
  font-size: 25px;
  color: #f7484e !important
}