html, body { width: 100%; }

@font-face {
    font-family: moon;
    src: url(./fonts/moon_flower/MF.ttf) format('truetype');
  }

@font-face {
    font-family: chunkie;
    src: url(./fonts/Exo2-Bold.otf) format('Opentype');
  }

@font-face {
    font-family: curly;
    src: url(./fonts/Quirlycues.ttf) format('truetype');
  }

#first-section-div {
  background-color: #252625; 
}

#name_div {
  text-align: center;
  padding: 40px;
  /*position: relative;*/
  /*float: center*/
}

#name {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: moon;
  color: white;
  font-size: 150px;
}

#title {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: chunkie;
  font-size: 30px;
  /*color: #f7484e !important*/
  color: #f7484e !important
}

#gif {
width: 200px;
}


#about_div {
  /*position: absolute; */
  background-color: #252625; 
  /*margin: 0 8px;*/
}

#about_left_div {
  /*margin: 10px 10px;*/
  width: 50%;
  height: 100%;
  float: left;
  background-color: #f7484e;
}

#about_caption {
  color: white;
  font-family: curly;
  font-size: 50px;
  text-align: center;
  margin-top: 50%;
}

#about_right_div {
  width: 50%;
  height: 100%;
  float: left;
}

#inner_about_div {
  padding: 30px;
}

#caption1 {
  font-family: 'ubuntu', sans-serif;
  font-size: 25px;
  color: white;
}

#how_div {
background-color: #f7484e;
}

#caption2 {
  font-family: 'ubuntu', sans-serif;
  font-size: 20px;
  color: white;
}

/*#projects_div {
  background-color: #252625;
}*/

#projects_left_div {
  width: 50%;
  height: 100%;
  float: left;
  background-color: #252625;
}

#projects_caption{
  color: white;
  font-family: curly;
  font-size: 50px;
  text-align: center;
  margin-top: 50%;
}

#projects_right_div{
  width: 50%;
  height: 100%;
  float: left;
  background-color: white;
}

#inner_projects_div {
  padding: 30px;
}

#inner_projects_div > img{
  width: 100%;
  height: 30%;
}

#BSS_img {

}